// 颜色
$color-white: #fff;
$color-base: #333;
$color-dark-blue-2650a6: #2650a6;
$color-gray-e0e0e0: #e0e0e0;
$color-gray-ededed: #ededed;
$color-gray-cdcdcd: #cdcdcd;
$color-gray-f0f0f0: #f0f0f0;
$color-gray-f7f7f7: #f7f7f7;
$color-gray-fafafa: #fafafa;
$color-gray-666: #666;
$color-gray-999: #999;
$color-b8d9f9: #b8d9f9;
$color-e8f3fd: #e8f3fd;
$background-color-5b9bd5: #5b9bd5;
$background-color-9bbce7: #9bbce7;
$background-color-07519a: #07519a;
$background-color-e1effa: #e1effa;
$font-color-bbfff9: #bbfff9;
$font-color-3db4ba: #3db4ba;
$color-gray-d9d9d9: #d9d9d9;
$font-color-f2f2f2: #f2f2f2;
$font-color-2c3e50: #2c3e50;
$font-color-cccccc: #cccccc;
$color-white1: #eaeaef;
$color-white2: #f5f5f5;
$color-white3: #f4f4f4;
$color-black: #000;
$font-color-c2dbfc: #c2dbfc;
$color-yellow: #ffcc00;
$color-lightYellow: #f7c34f;
$color-lightYellow1: #f7dcb9;
$color-lightYellow2: #ffe1aa;
$color-darkYellow1: #583710;
$color-darkYellow2: #b18652;
$color-orange: #ed9027;
$color-orange1: #ff6000;
$color-red: #fc1e1e;
$color-red1: #e9100e;
$color-red2: #c7100e;
$color-c30402: #c30402;
$color-red-CC4259: #cc4259;
$font-color-hint: #909099;
$font-color-base: #2d2d35;
$font-color-link: #438fed;
$font-color-title: #18181b;
$font-color-border: #ebedf0;
$font-color-3399FF: #3399ff;
$font-color-F0D9BA: #f0d9ba;
$font-color-fffbf0: #fffbf0;
$font-color-fff1e0: #fff1e0;
$font-color-f0cb9d: #f0cb9d;
$font-color-00000033: #00000033;
$font-color-3db4ba: #3db4ba;
$font-color-bbfff9: #bbfff9;
$font-color-666666: #666666;
$font-color-c2dbfc: #c2dbfc;
$font-color-07519a: #07519a;

$font-color-e9100e: #e9100e;

$border-color-d1d1d1: #d1d1d1;
$border-color-c1dbf0: #c1dbf0;
$border-color-1d6cb9: #1d6cb9;
$border-color-d8eafc: #d8eafc;
$background-color-5b9bd5: #5b9bd5;
$background-color-5b9dd5: #5b9dd5;
$background-color-d0d7e7: #d0d7e7;
$background-color-e9eef4: #e9eef4;
$background-color-ecf5fd: #ecf5fd;
$background-color-f0f6fb: #f0f6fb;
$background-color-f2f9ff: #f2f9ff;
$background-color-0c5ba9: #0c5ba9;
$background-color-034d97: #034d97;
$background-color-f0f5fa: #f0f5fa;
$background-color-f1f5f8: #f1f5f8;
$background-color-d4e8fa: #d4e8fa;
$background-color-f2f4f7: #f2f4f7;
$background-color-e8f3fd: #e8f3fd;

// 字号
$font-size-largest-46: 46px;
$font-size-largest-32: 32px;
$font-size-largest-30: 30px;
$font-size-largest-28: 28px;
$font-size-largest-24: 24px;
$font-size-largest-22: 22px;
$font-size-largest: 20px;
$font-size-large: 18px;
$font-size-base: 16px;
$font-size-small: 14px;
$font-size-mini: 12px;
$font-size-mini1: 11px;
